# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/template/node_modules
/template/pnp
/template/pnp.js
/template/package-lock.json
/template/yarn.lock

# testing
/template/coverage

# production
/template/build

# misc
/template/DS_Store
/template/env.local
/template/env.development.local
/template/env.test.local
/template/env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
